html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: var(--lavender);
  text-align: center;
  background-color: var(--cream-white);
  
}
:root{
 --light-pink:#FFDDF4;
 --lavender: #c6b1e1;
 --light-blue:#C6E6FB;
 --light-yellow:#FFFFCC;
 --light-green:#D0F0C0;
 --cream-white: #ffffF0;
 --light-orange: #F5DEB3;

 /*intentions */
 --primary:var( --light-pink);
 --secondary: var(--lavender);
 --h1: 7.594rem;
 --h2: 5.063rem;
 --h3: 3.374rem;
 --h4: 2.23rem;
 --h5: 1.5rem;

}

.header {
  background-color: var(--primary);
}

h1 {
  font-size: var(--h1);
  background-color: var(--lavender);
  border: 10px solid var(--lavender);
}

.h2 {
  font-size: var(--h4);
  background-color: var(--cream-white);
  border-color: var(--light-pink);
}


.h3 {
  font-size: var(--h4);
  background-color: var(--cream-white);
  border-color: var(--light-pink);
}

.h4 {
  font-size: var(--h4);
  background-color: var(--cream-white);
  border-color: var(--light-pink);
}

.h5 {
  font-size: var(--h4);
  background-color: var(--cream-white);
  border-color: var(--light-pink);
}
.h6 {
  font-size: var(--h4);
  background-color: var(--cream-white);
  border-color: var(--light-pink);
}
h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: center;
}
.button {

  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  justify-content:space-around;
  border-radius:8px
  

} 
.card {

  align-content: center;
  font-size: 3rem;
  background-color: var(--light-orange) ;
  padding: 2%;
  margin: 2rem 0;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 10px 10px white;
  transition: all .3s;
  width: 23%;
  height: 42vh;
}
.cardimg {
 
  outline-offset: 3rem;
  width: 350px;
}

/* body {
  font-family: 'Cabin', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.header{
  background-color: var --light-pink;
  text-align:center;
  color: aliceblue;
  border: 5px solid white;
  border-radius: 10px;
}
 .button {

  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  justify-content:space-around;
  border-radius:8px
  

} 
.h2:hover {
  border-color: lightyellow;
}
.h2{
  background-color:beige;
  border-color:white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color:grey;
}

.h3:hover {
  border-color: lightyellow;
}
.h3{
  background-color:#C6E6FB;
  border-color:white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color:grey;
}
.h4:hover {
  border-color: lightyellow;
}
.h4{
  background-color:pink;
  border-color:white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color:grey;
}
.h5:hover {
  border-color: lightyellow;
}
.h5{
  background-color:#D0F0C0;
  border-color:white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color:grey;
}

.h6:hover {
  border-color: lightyellow;
}
.h6{
  background-color:#C3B1E1;
  border-color:white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color:grey;
} */
