html,
body, 
*{
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
  font-family: 'Lobster', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--light-yellow);
  text-align: center;

}

:root{
 --light-pink:#FFDDF4;
 --lavender: #c6b1e1;
 --light-blue:#C6E6FB;
 --light-yellow:#FFFFCC;
 --light-green:#D0F0C0;
 --cream-white: #ffffF0;
 --light-orange: #F5DEB3;
 --light-brown: #B99976;
 --beige: #E5D3B3;
 --dark-beige: #D2B48C;
 --brown: #987554;

 /*intentions */
 --primary:var( --light-brown);
 --secondary: var(--beige);
 
 
 --h1: 7.594rem;
 --h2: 5.063rem;
 --h3: 3.374rem;
 --h4: 2.23rem;
 --h5: 1.5rem;

}

.card:hover {
  transform: scale(1.05);
}
.container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.pinkity {
 
  --primary: var(--light-brown);
  --secondary: var(--brown);


}
.drinkity {

  --primary: var(--beige);
  --secondary: var(--dark-beige);


}
 .header {
  background-color: var(--secondary);
}

h1 {
  font-size: var(--h1);
  background-color: var(--lavender);
  border: 10px solid var(--primary);
  text-align: center;
} 
.theme {
  background-color: var(--dark-beige);
  border-color: var(--cream-white);
}
.all {
  background-color: var(--light-brown);
  border-color: var(--cream-white);
}

.kit {
  background-color: var(--beige);
  border-color: var(--cream-white);
}
.flo {
  background-color: var(--beige);
  border-color: var(--cream-white);
}
.ext {
  background-color: var(--beige);
  border-color: var(--cream-white);
}
.int {
  background-color: var(--beige);
  border-color: var(--cream-white);
}
.bat {
  background-color: var(--beige);
  border-color: var(--cream-white);
}
.button_container {

  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  justify-content:space-around;
  border-radius:8px;
  font-size: var(--h5);
  justify-content: space-evenly;

} 

.theme:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
.all:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
.image {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  padding: 0.8rem;

  
}
.card {

 display: flexbox;
flex-wrap: wrap;
background: var(--light-orange);
width: 20vw;
height: 30vh;
border-radius: 4rem;
overflow:hidden;
border: 0.3rem solid;
margin: 1rem;
padding: 5rem;
border-color: var(--cream-white); 


}
 
/* .image {
width: 200px;
height: 300px;
object-fit:contain;
} */
